@model IEnumerable<OnlineShop.Models.CarModel>

@{
    ViewBag.Title = "Админ панель: список товаров";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список игр</h3>
    </div>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
 
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Название</th>
                <th class="text-right">Цена</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.CarModelId</td>
                    <td class="text-center">@Html.ActionLink(item.NameModel, "Edit", new { id = item.CarModelId })</td>
                    <td class="text-center">@item.Price.ToString()</td>
                    <td class="text-center">@Html.ActionLink("Удалить", "Delete", new { id = item.CarModelId })</td>


                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить игру", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>
