@model OnlineShop.Models.CarModel

<div class="well">
    <h4>
        <strong><strong>@Model.NameManufacturer @Model.NameModel</strong></strong>

        <span class="pull-right label label-primary">@Model.Price.ToString("# $")</span>
    </h4>
    <p>@Model.NameCategory</p>
    <p>@Model.Description</p>
</div>