@model PagedList.IPagedList<OnlineShop.Models.CarModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
                /**/

                ViewBag.Title = "Товары";
}


@foreach (var p in Model)
{
    <div>
        <h3>@p.NameManufacturer @p.NameModel</h3>
        <p>@p.NameCategory</p>
        <p>@p.Description</p>
        <h4>@p.Price.ToString("# $")</h4>
    </div>
}

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))