@using OnlineShop.Models;
@using OnlineShop.HtmlHelpers;
@model CarListViewModel

@{
    ViewBag.Title = "List";
}

<h1>Список машин</h1>
@foreach (var p in @Model.CarModels)
{
    <div class="well">
        <h4>
            <strong><strong>@p.NameManufacturer @p.NameModel</strong></strong>

            <span class="pull-right label label-primary">@p.Price.ToString("# $")</span>
        </h4>
        <p>@p.NameCategory</p>
        <p>@p.Description</p>
    </div>
}
<div class="btn-group pull-left">

    @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x , category = Model.CurrentCategory }))
</div>
<div class="btn-group pull-right">
    Страница @(Model.PageInfo.TotalPages < Model.PageInfo.CurrentPage ? 0 : Model.PageInfo.CurrentPage) из @Model.PageInfo.TotalPages
</div>
